.filter-panel {
  display: flex;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  width: 80%;
  padding: 20px;
  justify-content: space-around;
}

.filter-dropdown {
  margin: auto;
}

.job-panel {
  /* display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 10px; */
  display: flex;
  flex-direction: column;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  width: 80%;
  padding: 20px;
  margin-top: 10px;
}

.job {
  border-color: royalblue;
  border-width: 2px;
  border-style: solid;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.job-detail {
  margin: 80px;
}

.apply-btn {
  background-color: white;
  color: black;
  width: 20px;
  border-color: royalblue;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
}

.p-10 {
  padding: 10px;
}

a {
  color: black;
}

.royalblue {
  color: royalblue;
}
